
/* .qgbody{
    background-color: rgb(164, 170, 206);
    display: flex;
    height: 1500px;
} */
.wrap_qg{
    width: 1300px;
    /* 相对定位 */
    position: relative;
    /* top: 100px; */
    background-color: rgba(164, 170, 206, 0.418);
    height: 2400px;
}
.yanwu{
    width: 400px;
    height: 300px;
}
.jiaolv{
    width: 400px;
    height: 300px;
}
.shanggan{
    width: 400px;
    height: 300px;
}
.fennu{
    width: 400px;
    height: 300px;
}
.wrap_qg::after{
    content: "";
    /* 绝对定位 */
    position: absolute;
    top: -100px;
    left: 50%;
    width: 5px;
    z-index: -999;
    height: 1300px;
    /* background-color: black */

}

.box_qg{
    /* 相对定位 */
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    display: flex;
    /* 均匀排列每个元素
    首个元素放置于起点，末尾元素放置于终点 */    
    justify-content: space-between;
    /* background-color:  blue; */
}

.left_qg,.right_qg{
    position: relative;
    width: 40%;
    height: 300px;
    /* background-color: rgba(255,255,255,.5); */
    border-radius: 15px;
    color: rgb(90, 90, 90);
    text-align: center;
    /* padding-left: 100px;
    padding-right: 100px;
    margin-left: 100px;
    margin-right: 100px; */
}

/* 页面范围内偶数的匹配元素 */
.box_qg:nth-child(even) .left_qg{
    background-color: rgba(255, 255, 255,.4);
    box-shadow: 0,0,10px,rgba(0, 0, 0,.3);
    /* background: pink; */
    margin-left:100px ;
}


/* 页面范围内奇数的匹配元素 */
.box_qg:nth-child(odd) .right_qg{
    background-color: rgba(255, 255, 255,.4);
    box-shadow: 0,0,10px,rgba(0, 0, 0,.3);
    margin-right: 100px;
   /* background-color: green; */
}

.center_qg{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qgjg{
    position: relative;
    /* background-color: pink; */
    width: 1150px;
    height: 430px;
    margin-left: 50px;
    margin-top: 50px;
}
.qgjg p{
    font-size: 20px;
    color: #7F4E52;
}
/* >是子元素选择器 */
.center_qg > span{
    width: 120px;
    border-radius: 10px;
    text-align: center;
    font: 900 24px '';
    line-height: 50px;
    background-color: #cea7ce2b;
}
.danmu{
    position: relative;
    background-color: #cea7ce50;
    height: 400px;
    width: 900px;
    margin-top: 350px;
    margin-left: 200px;
    border-width: 5px;
    border-style: solid;
            border-color:  #cea7ce;
    

    /* margin: 0 auto; */
}